.top-svg {
	position: absolute;
	border: 1px solid black;
}
.linkedin {
	font-family: monospace;
	font-size: 15px;
}
.email {
	font-family: monospace;
	font-size: 15px;
}
.author {
	font-family: monospace;
	font-size: 20px;
}
